/* CSS for About Page */

/* Section 1 */

.intro {
    background-color: #EBBB10;
    padding-left: 15%;
    padding-right: 15%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    width: 100%;
}

.item1 {
    width: 100%;
    padding-bottom: 50px;
    max-height: 50%;
}

.item2 {
    padding-top: 20%;
    width:500px;
    margin-left: 10%;
}

.CourseName, .name {
    margin-bottom: 15px;
}

/* Section 2 -Skills*/

.skills, .hobbies {
    background-color: white;
    text-align: center;
}

.interest {
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

/* Skills Section - defination list */
dl {
    margin-left: 30%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 50%;
    margin-bottom: 1%;
    text-align: left;
}

dt {
    grid-column-start: 1;
    margin-bottom: 5%;
}

dd {
    grid-column-start: 2;
}

/* Interest - section 3 */

.interest {
    background-color: #EBBB10;
}

table {
    width: 50%;
    margin-left: 25%;
    text-align: center;
}

table img {
    margin-bottom: 50px;
}

/* Hobbies=Section 4 */

.hobbies-grid-item img{
    width:80%;
}
.grid-container-Hobbies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    width: 80%;
    margin-left: 10%;
    margin-bottom: 30px;
}
.hobbies-grid-item .name {
    font-size: 25pt;
}
