body {
    background-color: #EBBB10;
}

article {
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 90px;
    padding-left: 100px;
    background-color: white;

}

/* Arranging content side by side */
.nextto {
    display: inline-block;
    width: 40%;
    height: 100%;
    padding-right: 50px;
    padding-left: 40px;
    /* padding-top: 50px; */
}

/* Form */

h1 {
    /* Form caption Header */
    font-size: 5em;
    /* padding-bottom: 40px; */
    padding-top: 100px;
}

#form {
    border-bottom: black 2px solid;
    border-top: white 2px solid;
    border-right: white 2px solid;
    border-left: white 2px solid;
}

::placeholder {
    /* form field inside placeholder text */
    color: black;
}

/* Placeholder output */

:placeholder-shown {
    padding-left: 20px;
}

/* form field box */
.field {
    padding-bottom: 10px;
    color: black;
}

.field:hover {
    background-color: lightyellow;
}

.nextto form div {
    /* border: black 2px solid; */
    padding-bottom: 20px;
}

/* Form -Submit button */

.button1 {
    padding: 10px;
    padding-left: 70px;
    padding-right: 70px;
    border-radius: 5px;
    background-color: white;
    border-bottom: black 2px solid;
    border-top: white 2px solid;
    border-right: white 2px solid;
    border-left: white 2px solid;
    color: black;
}

.button1:hover {
    background-color: red;
    color: white;
}

/* icons section */


/* social media icons */
#Container-media img {
    padding-left: 20px;
}


/* Fading animation */

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.image {
    width: 503px;
    height: 245px;
    margin-right: 100px;
}

.textCenter {
    text-align: center;
}

.image img {
    -webkit-transition: all 1s ease;
    /* Safari and Chrome */
    -moz-transition: all 1s ease;
    /* Firefox */
    -ms-transition: all 1s ease;
    /* IE 9 */
    -o-transition: all 1s ease;
    /* Opera */
    transition: all 1s ease;
}

.image:hover img {
    -webkit-transform: scale(1.1);
    /* Safari and Chrome */
    -moz-transform: scale(1.1);
    /* Firefox */
    -ms-transform: scale(1.1);
    /* IE 9 */
    -o-transform: scale(1.1);
    /* Opera */
    transform: scale(1.1);
}

#gmap_canvas img {
    max-width: none !important;
    background: none !important;
}


#wrapperContact {
    display: flex;
  }
  
  #leftContact {
    flex: 0 0 60%;
  }
  
  #rightContact {
    flex: 1;
    margin-top:10%;
  }