/* CSS for Gallery Page */

article{
    margin-bottom: 10px;
}


/* button position */
table{
    margin-left:150px;
    margin-right:150px;
    text-align:center;
}

/* Projects buttons */

.container{
    margin-left:100px;
}

.button {
    border-radius: 5px;
    background-color:white;
    border: black 2px solid;
    color: black;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 15px;
    text-transform: uppercase;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.3s;
}

.button:hover span {
    padding-right: 25px;
   } 

.button:hover{
     /* background:#EBBB10; */
     background-image: linear-gradient(to right, #EABA1F,#FDF9CE);
    border:white 2px solid;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

/* Picture - Fading animation */

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.image {
    width: 503px;
    height: 245px;
    margin-right: 100px;
}

.textCenter {
    text-align: center;
}

.image img {
    -webkit-transition: all 1s ease;
    /* Safari and Chrome */
    -moz-transition: all 1s ease;
    /* Firefox */
    -ms-transition: all 1s ease;
    /* IE 9 */
    -o-transition: all 1s ease;
    /* Opera */
    transition: all 1s ease;
}

.image:hover img {
    -webkit-transform: scale(1.1);
    /* Safari and Chrome */
    -moz-transform: scale(1.1);
    /* Firefox */
    -ms-transform: scale(1.1);
    /* IE 9 */
    -o-transform: scale(1.1);
    /* Opera */
    transform: scale(1.1);
}

#gmap_canvas img {
    max-width: none !important;
    background: none !important;
}